{% extends 'poem/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section crossfade blurred-box bold-black-font">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Join Today</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info bold-black-font" type="submit">Sign Up</button>
			</div>
		</form>
			<div class="border-top pt-3">
				<small >
					Already have an account? <a class="ml-2 bold-black-font" href="{% url 'login' %}">Sign In</a>
				</small>
			</div>
	</div>
{% endblock content %}